html,
body,
#viewDiv,
#container {
  padding: 0;
  margin: 0;
  height: 95%;
  width: 100%;
  color: #323232;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#searchInputRes {
  padding: 10px;
  margin: 0;
  height: 95%;
  max-width: 20%;
  color: #323232;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#333333;
  font-size:90%;
  display:none;
  color: #ffffff;
}
#searchInputRes a
{color: #888;}

body {
	background: radial-gradient(#333333, #000000);
}


.FlagAustriajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Austria.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagItalyjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Italy.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagTaiwanjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Taiwan.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagIndonesiajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Indonesia.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagMalaysiajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Malaysia.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagKenyajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Kenya.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagKazakhstanjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Kazakhstan.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagIraqjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Iraq.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagEgyptjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Egypt.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagMoroccojpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Morocco.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagLibyajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Libya.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagBelarusjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Belarus.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagBraziljpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Brazil.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagChinajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/China.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagFrancejpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/France.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagIndiajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/India.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagIranjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Iran.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagIsraeljpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Israel.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagLebanonjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Lebanon.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagMexicojpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Mexico.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagNigeriajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Nigeria.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.FlagNorthKoreajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/NorthKorea.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagPakistanjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Pakistan.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagPalestinejpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Palestine.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagRomaniajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Romania.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagRussiajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Russia.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagSouthKoreajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/SouthKorea.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagSpainjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Spain.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagSyriajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Syria.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagTunisiajpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Tunisia.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagTurkeyjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Turkey.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagUKjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/UK.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagUkrainejpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Ukraine.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagUnitedArabEmiratesjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/UnitedArabEmirates.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagUnitedStatesjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/UnitedStates.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagUzbekistanjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Uzbekistan.jpg'); 
    background-size: cover; 
    background-position: center; 
}
.FlagVietnamjpg
{    width: 300px; 
    height: 200px; 
    background-image: url('../images/flags/Vietnam.jpg'); 
    background-size: cover; 
    background-position: center; 
}



.esri-widget__heading {
    color: #FFFFFF; 
}

h3{margin:5px;}


.fa{    
font-size: 180%;
margin: 10px;
color: aqua;
	}

.tooltip{
	position:absolute;
	background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}



li{
	list-style-type:none;
	padding-top:1em;
}
li a{color: #cccccc;}


#searchPlaceHolder a{color: #888;}


table {
  border: 1px solid #888;
  border-collapse: collapse;
}
td
{padding-top:0.5em;
padding-bottom:0.5em;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}



#maptitle{
	color: white;
  box-shadow: none;
  	
}


#viewDiv canvas {
  filter: drop-shadow(0 0 0.25rem #3d85c6);
}


.esri-popup {}

.esri-popup__content {
  margin: 0;
}

.esri-popup__header-title {
  font-size: 18px;
}

.esri-popup__header-title:hover{
	background-color: #000000;
}

.esri-popup__footer {
  display: none;
}

.esri-feature__main-container .popupImage {
  /*max-height: 250px;*/
  overflow: hidden;
  background-color:#333333;
  color:#ffffff;
  display: flex;
    justify-content: center;
    align-items: center;
}

.esri-widget {
  color:#ffffff;
  background-color:#333333;
}

.esri-component {    font-size: 1.2em;}

.popupImage > img {
  width: 100%;
}

.popupImageCaption {
  text-align: center;
  font-size: 0.9em;
  padding: 0.1em 1.5em 0;
}

.popupDescription {
  padding: 2em;
  word-break: break-word;

}

p.info {
  margin-bottom: 2em;
  font-size: 1.1em;
  text-align:justify;
}

.popupDescription > p:last-child {
  margin-bottom: 0;
}

.popupCredits {
  font-size: 0.8em;
  padding: 0 2.5em 0.5em 2.5em;
}

.esri-attribution__sources a {
  color: #323232;
}

/* intro and about page */

#viewDiv {
  filter: blur(10px);
  transition: filter 0.4s;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

#introDiv {
  position: relative;
  width: 60%;
  max-width: 700px;
  min-height: 350px;
  max-height:100%;
  overflow-y:scroll;
  flex: 1;
  background-color: #000000;
  color:#ffffff;
  padding: 3em;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  z-index:100;
}

#introDiv h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

#introDiv p {
  line-height: 1.5em;
}

#container a:hover {
  color: white;
  background: rgb(2, 105, 161);
}

#container a {
  color: rgb(2, 105, 161);
  text-decoration: none;
  font-weight: bold;
}

button.esri-icon-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: transparent;
  border: none;
  cursor: pointer;
  color:#ffffff;
}

#about {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#start-globe {
  border-radius: 0.2em;
  padding: 0.8em 1.5em;
  font-size: 1em;
  margin: 2em auto;
  display: block;
  border: 1px solid rgba(2, 105, 161, 1);
  background: transparent;
  color: rgba(255,255,255, 1);
}

#start-globe:hover {
  color: white;
  background: rgb(2, 105, 161);
  border: 1px solid white;
  transition: all 0.5s;
  cursor: pointer;
}

#others {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

#others-container {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  display: none;
  justify-content: center;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  color:#ffffff;
  background: rgba(50, 50, 50, .95);
  word-break: break-word;  
  z-index: 10;
}

#othPlaceHolder
{padding:1em;}

#search {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

#searchDiv {
  position: relative;
  width: 80%;
  max-width: 900px;
  min-height: 350px;
  max-height:90%;
  flex: 1;
  background-color: #000000;
  color:#ffffff;
  padding: 3em;
  
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  overflow-y:auto;
  z-index:1;
  word-break:break-word;
}

#searchDiv img{
	width:50%;
}

#searchDiv .popupImageCaption{
	width:50%;
}

#search-container {
   padding: 0;
  margin: 0;
  height: 100%;
  max-height:100%;
  width: 100%;
  color: #323232;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  left:0;
  top:0;
    right: 0;
    bottom: 0;
    position:absolute;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
	display:none;
	    z-index: 10;
}

#searchPlaceHolder
{padding:1em;}

#searchPnl{width:100%;}

#netgraph {
  color: rgb(255, 51, 141);
  box-shadow: none;
  cursor: pointer;
  
}

#malware {
  color: rgb(253, 255, 16);
  box-shadow: none;
  cursor: pointer;
  
}

#relationship {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

#relationship-container {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  display: none;
  
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  color:#ffffff;
  background: rgba(50, 50, 50, .95);
      z-index: 10;
}

#relPlaceHolder
{padding:1em;}


.relTitle{color: aqua;}
.relTitle2{}
.relchkTitle{padding:10px;}
.relAPTTargets{display:none;margin:10px;}
.relAPTTargetCategories{display:none;margin:10px;}
.relAPTTechniques{display:none;margin:10px;}
.relAPTTools{display:none;margin:10px;}
.relTargetsAPT{display:block;margin:20px;}
.relchk{ 
display: flex;
padding: 10px;}
#relAPTchk{
	
	display: flex;
    padding: 10px;
    background-color: rgb(102, 102, 102);
	max-width: fit-content
    


}
#relAPT{display:none;}
#relTargets{display:none;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



#fullstats {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

#fullstats-container {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  display: none;
  justify-content: center;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  color:#ffffff;
  
  background: rgba(50, 50, 50, .95);
      z-index: 10;
  
}

#fulPlaceHolder
{}






.esri-popup--is-docked-top-left .esri-popup__main-container, .esri-popup--is-docked-top-right .esri-popup__main-container, .esri-popup--is-docked-bottom-left .esri-popup__main-container, .esri-popup--is-docked-bottom-right .esri-popup__main-container {
    max-height: 100%;

}
.esri-feature a {
    color: #dddddd;
}
.esri-feature a:hover, .esri-feature a:focus {
    color: #ffffff;
}

.detButton
{
	padding:0.5em; 
	border:1px solid #ffffff;
}
.APTname
{    color: aqua;
     font-size: 2em;
	 
	 }
.APTnameclickable
{    color: aqua;
     font-size: 2em;
	 cursor: pointer;
	 
	 }	 


.details {
        display: none;
    }
.opendetails {
        display: block;
    }
.PanelContainer
{
	width:100%;
	
}
.infoTitle
{
	font-size: 1.4em;
	
}

.infoTool
{    color: aqua;
     text-decoration:bold;
	 font-size: 1.2em;
	 }
	 
.infoTTP
{    color: aqua;
     text-decoration:bold;
	 font-size: 1.2em;
	 }

#chart {
  color: white;
  box-shadow: none;
  cursor: pointer;
}



#chart-container {
  
  bottom: 70px;
  left: 0;

  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 1em;
  box-sizing: border-box;
  color:#ffffff;
  background: rgba(50, 50, 50, .5);
  filter:blur(10px);
  
}



#IdChart1
{background: rgba(51, 170, 51, .2);
max-height:150px;
max-width:100%;

margin:5px;}

#IdChart2
{background: rgba(16, 255, 255, .2);
max-height:150px;
max-width:100%;
margin:5px;}

#IdChart3
{background: rgba(255, 16, 101, .2);
max-height:150px;
max-width:100%;
margin:5px;}


#IdChart4
{background: rgba(253, 255, 16, .2);
max-height:150px;
max-width:100%;
margin:5px;}

#IdChart5
{background: rgba(255, 16, 239, .2);
max-height:150px;
max-width:100%;
margin:5px;}

#IdChart6
{background: rgba(33, 7, 231, .2);
max-height:150px;
max-width:100%;
margin:5px;}

@media screen and (min-width: 800px) {
	
	html,
body,
	#viewDiv,
#container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #323232;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#introDiv {
  position: relative;
  width: 60%;
  max-width: 700px;
  min-height: 350px;
  flex: 1;
    overflow:auto;
  background-color: #000000;
  color:#ffffff;
  padding: 3em;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  z-index:1;
}


#chart-container {
  position: absolute;
  bottom: 70px;
  left: 0;
  /*max-height:250px;*/
  
  
  display: flex;
  justify-content: left;
  overflow-x: auto;
  padding: 1em;
  box-sizing: border-box;
  color:#ffffff;
  background: rgba(50, 50, 50, .5);
  
  
}
#IdChart1
{background: rgba(51, 170, 51, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}

#IdChart2
{background: rgba(16, 255, 255, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}

#IdChart3
{background: rgba(255, 16, 101, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}


#IdChart4
{background: rgba(253, 255, 16, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}

#IdChart5
{background: rgba(255, 16, 239, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}

#IdChart6
{background: rgba(33, 7, 231, .2);
max-height:150px;
max-width:200px;
float:left;
margin:5px;}



}